#viewPastTask{
        background-color: rgb(58,175,169);
}
#createTask{
        background-color: rgb(58,175,169);
}

.addTask {
        background-color: #3aafa9;
        color: white;
        font-size: large;
        padding: 4px 25px;
}
.viewPast{
        background-color: #3aafa9;
        color: white;
        font-size: large;
        padding: 4px 25px;
}
