#viewPastTask{
        background-color: rgb(58,175,169);
}
#createTask{
        background-color: rgb(58,175,169);
}
.addLinkage{
        background-color: rgb(58,175,169);
}

.newCreateLinkage{
        position: fixed;
        left: 50%;
        bottom: 2px;
        width:50%;
        height:100%;
        visibility:visible;
        background-color:#DEF2F1;
        transition: height 0.3s ease-in;
        
}
.newCreateLinkage.unactive{
        height: 0%;
}
.saveCreateButton{
        background-color: #3AAFA9;
        padding: 4px 5px;
        position: relative;
        width:15%;
        right: 10px;
        
}

