.remove.unactive {
  visibility: hidden;
}
.add.unactive {
  visibility: hidden;
}
.deleteUnion {
  background-color: var(--color-orange);
  color: white;
  font-size: large;
  padding: 4px 20px;
}

.saveUnion {
  background-color: var(--color-orange);
  color: white;
  font-size: large;
  padding: 4px 20px;
}

.scrollEditUnion {
  height: 540px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #def2f1;
}

.EditTasks {
  background-color: var(--color-dark-grey);
  color: white;
}
