.loading {
  display: flex;
  height: 100vh;
  /* margin-top: auto; */
  align-items: center;
  justify-content: center;
}

@keyframes arrows {
  0%,
  100% {
    color: black;
    transform: translateY(0);
  }
  50% {
    color: #3ab493;
    transform: translateY(20px);
  }
}

.loadingLogo {
  animation: arrows 1s 0s infinite ease-in;
}
.loadingLogo1 {
  animation: arrows 1s 0.1s infinite ease-in;
}
.loadingLogo2 {
  animation: arrows 1s 0.2s infinite ease-in;
}
.loadingLogo3 {
  animation: arrows 1s 0.3s infinite ease-in;
}
.loadingLogo4 {
  animation: arrows 1s 0.4s infinite ease-in;
}
.loadingLogo5 {
  animation: arrows 1s 0.5s infinite ease-in;
}
